.div1 {
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  left: 0;
  right: 0;
  top: 0;
}

.div5 {
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    left: 0;
    right: 0;
    bottom: 0;
  }

.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.div3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-color: black;
  border-width: 5px;
  border-style: solid;
  padding: 5px;
}

iframe {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    padding: 5px;
  }

body {
  background-color: rgb(81, 152, 81);
}

a:hover{
    font-size: 42px;
    color: red;
}

a:visited{
    color:blueviolet;
}
